<!DOCTYPE html>
<html lang="da" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tilføj Attraktion</title>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
</head>
<body>
<div class="navbar">
    <a href="/attractions">Hjem</a>
</div>
<div class="container">
    <h1>Tilføj en ny attraktion</h1>
    <form action="/save" method="post" class="TilfoejOgUpdate">
        <label>Navn: <input type="text" name="name" placeholder="Indtast navn" required></label>
        <label>Beskrivelse: <input type="text" name="description" placeholder="Indtast beskrivelse" required></label>
        <label>By: <input type="text" name="city" placeholder="Indtast by" required></label>
        <button type="submit">Gem</button>
    </form>
    <a href="/attractions">Tilbage</a>
</div>
</body>
</html>
