<!DOCTYPE html>
<html lang="da" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tilføj Attraktion</title>
    <link rel="stylesheet" type="text/css" th:href="@{/Main.css}">
</head>
<body>
<div class="navbar">
    <a href="/attractions">Hjem</a>
</div>
<h1>Tilføj en ny attraktion</h1>

<form action="/save" method="post">
    <label>Navn: <input type="text" name="name" required></label><br>
    <label>Beskrivelse: <input type="text" name="description" required></label><br>
    <label>By: <input type="text" name="city" required></label><br>
    <button type="submit">Gem</button>
</form>

<a href="/attractions">Tilbage</a>
</body>
</html>
