<!DOCTYPE html>
<html lang="da" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tourist Guide</title>
  <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
</head>
<body>

<h1>Velkommen til Turistguiden!</h1>
<h2>Liste over attraktioner</h2>

<div class="attraction-container">
  <div class="attraction-card" th:each="attraction : ${attractions}"
       th:style="|background-image: url('/images/${attraction.image}'); background-size: cover; background-position: center;|">
    <h2 th:text="${attraction.name}"></h2>
    <p th:text="${attraction.description}"></p>
    <span class="location" th:text="${attraction.city}"></span>

    <div class="button-group">
      <a th:href="@{/attractions/{id}(id=${attraction.id})}" class="details-btn">Se detaljer</a>
      <form th:action="@{/attractions/delete/{id}(id=${attraction.id})}" method="post" style="display:flex;">
      </form>
    </div>
  </div>
</div>

<a href="/add" class="add-btn">Tilføj ny attraktion</a>
<footer>
</footer>
</body>
</html>
